<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO list</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container" id="app">
        <div class="tracker">
            <form action="#" class="form">
                <h1 class="form__title">TODO list</h1>
                <div class="form__group">
                    <input type="text" class="form__input" placeholder="" v-model="taskText" ref="taskInput">
                    <label class="form__label">New task</label>
                </div>
                <button class="form__button" @:click="submitTask">Submit</button>
                <hr v-if="tasks.length > 0">

                <ul class="list" v-if="tasks.length > 0">
                    <li class="list__item" v-for="(task, index) in tasks" :class="{checked: task.completed}">
                        <span class="list__text" @:click="changeTaskStatus(index)">{{ toUpperCase(task.text) }}</span>
                        <div class="list__actions">
                            <img src="images/edit.png" alt="" @:click="editTask(index)">
                            <img src="images/remove.png" alt="" @:click="removeTask(index)">
                        </div>
                    </li>
                </ul>
                <div class="total" v-if="tasks.length > 0">
                    <span>Total number of tasks: {{ tasks.length }}</span>
                </div>
            </form>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/app.js"></script>
</body>

</html>